@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f5f9;
}
#dashgrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.w-99{
    width: 550px;
}
.shadowcircle{
    box-shadow: 1px 1px 4px rgb(214, 214, 214);
}